TabPane {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}

.connect-parameter:disabled {
    /*-fx-opacity: 0.8;*/
}

#btAdd {
    /*-fx-background-color: #dddddd;*/
}

#btAdd:hover {
    /*-fx-background-color: #eeeeee;*/
}

.column-header {
    -fx-font-weight: bold;
}

.table {
    /*-fx-background-color: cornsilk;*/
}

.textfield-filter {
    /*-fx-background-color: #f4fad4;*/
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}

.table-column {
    /*-fx-background-color: #f4fad4;*/
    -fx-font-family: monospace;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

.label-left {
    -fx-font-family: monospace;
    -fx-font-size: 12px;
    -fx-opacity: 0.5;
    /*-fx-text-fill: #555;*/
}

.textfield-left {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}

.label-status {
    -fx-font-family: monospace;
    -fx-background-radius: 5;
    -fx-background-color: rgb(238, 238, 238);
}

#lbTagCounter {
    -fx-font-weight: bold;
}

.btconnect-connected {
    -fx-font-size: 14px;
    -fx-background-color: #ff5555;
    -fx-text-fill: white;
}

.btconnect-disconnected {
    -fx-font-size: 14px;
    -fx-background-color: #6eff6e;
    -fx-text-fill: black;
}
